* {
    box-sizing: border-box;
   /* border: lightblue 2px solid;*/
}

 /* Dashed border */
 hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #bbb;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  } 

.mainHeader {
    text-align: center;
    background-color: #800080;
    color: #ffffff;
}

.navlinks {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#nativityScene {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#christmasStar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

li {
    display: inline;
    margin: 10px;
}

.gospel {
    font-size: 21px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: papayawhip;
    color: maroon;
}